/happySource_webApp/target/
/HappySourcePersistencia/target/
/SwappySource/target/
HappySourceBusinessLogicq/target/HappySourceBusinessLogicq-1.0-SNAPSHOT.jar
HappySourceBusinessLogicq/target/HappySourceBusinessLogicq-1.0-SNAPSHOT.jar
