/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 11, 2025, 10:47:38 AM
    Author     : abrilislas
*/

@import url("./global.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.landingPage {
  display: grid;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  font-family: "Inter";
  background-color: var(--body-bg-color);
}

.barraNavegacion {
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
}

.barraNavegacion #logo {
  font-family: "Inter";
  font-weight: 900;
  color: var(--header-text-color);
  font-size: 2em;
  margin-right: 60%;
  margin-top: 20px;
}

.mainLink {
  text-decoration: none;
  color: var(--header-text-color);
}

.barraNavegacion > ul {
  padding-top: 15px;
}

.barraNavegacion > ul > a {
  text-decoration: none;
  display: inline;
  padding: 10px;
  font-weight: bolder;
  color: var(--body-color-texto-catalogo);
}

.barraNavegacion > ul > a:hover {
  color: var(--body-color-boton-consultar-catalogo);
  transition: 0.5s;
}

.main-container {
  background-color: var(--body-bg-color);
  padding: 20px;
}

.main-container > .barraNavegacion {
  width: 100%;
  height: auto;
}

.main-container > .div-formulario-inicio-sesion {
  background-color: var(--body-color-texto-boton-catalogo);
  margin: 20px;
  border-radius: 20px;
}

.main-container > .div-formulario-inicio-sesion > .titulo {
  text-align: center;
  font-family: var(--header-font-family);
  font-size: 1.5em;
  color: var(--body-color-texto-principal);
}

.main-container > .div-formulario-inicio-sesion > .logo-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 100px;
  height: auto;
}

.formulario-inicio-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion-correo,
.seccion-password {
  font-weight: bold;
  font-family: var(--header-font-family);
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--body-grey-border);
  border-radius: 20px;
  font-size: 1em;
  box-sizing: border-box;
}

.boton-iniciar-sesion {
  margin-top: 20px;
  margin-bottom: 20px;
}

.boton-iniciar-sesion button {
  background-color: var(--body-color-boton-consultar-catalogo);
  color: var(--body-color-texto-principal);
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.boton-iniciar-sesion button:hover {
  background-color: var(--body-button-hover);
}

