@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./global-variables.css";

.iniciarSesion{
  background-color: var(--formBackground);
  margin:0px;
  overflow: hidden;
}

.contenedor-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--lightGreen);
  /*margin-top: 12%;*/
  margin: 8% 15% 15% 15%;
  border-radius: 15px;
  padding: 0% 15% 5% 15%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}

.contenedor-principal>.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-principal>.contenido>h2{
  font-size: 2.5em;
  color: var(--darkGreen);
  margin: 40px 0px 0px 0px;
}
.contenedor-principal>.contenido>h4{
  font-size: 1em;
  color: var(--fontColorForm);
  font-weight:lighter;
  margin: 10px 0px 30px 0px;
}

.contenido>form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: var(--fontColorForm);
}

.contenido>form>input{
  width: 100%;
  height: 30px;
  background-color: var(--almostWhite);
  border: var(--fontColorForm) 1px solid ;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  color: var(--lightBrown);
  font-weight: bolder;
  padding-left: 10px;
  font-size: 1em;
}

.contenido>form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: var(--fontColorForm);
  font-weight: 700;
}

a{
  text-decoration: none;
  color: var(--darkGreen);
  margin: 10px 10px 40px 0px;
  font-size: 0.8em;
  font-weight: 700;
}
a:hover{
  transition: 0.2s;
  color: var(--highlight);
}

form{
  display: flex;
  flex-direction: column;
}
form>button{

  border-radius: 5px;
  background-color: var(--darkGreen);
  font-weight: 900;
  font-size: 1.5em;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

form>button:hover{
  background-color: var(--highlight);
  color: var(--almostWhite);
}
.botones{
  color: var(--almostWhite);
  border: #6CB987;
  width: 100%;
}
.botones:hover {
  transform: translateY(-2px);
  transition: 0.3s;
  cursor: pointer;
}
