@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./global-variables.css";

body{
  background-color: var(--formBackground);
  margin:0px;
}

.contenedor-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--lightGreen);
  /*margin-top: 12%;*/
  margin: 10% 15% 15% 15%;
  border-radius: 15px;
  padding: 0% 15% 10% 15%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}

.contenedor-principal>.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-principal>.contenido>h2{
  font-size: 2.5em;
  color: var(--darkGreen);
  margin: 40px 0px 0px 0px;
}
.contenedor-principal>.contenido>h4{
  font-size: 1em;
  color: var(--fontColorForm);
  font-weight:lighter;
  margin-bottom: 30px;
}

.contenido>form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: var(--fontColorForm);
}

.contenido>form>input{
  width: 100%;
  height: 25px;
  background-color: var(--almostWhite);
  border: var(--fontColorForm) 1px solid ;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  color: var(--darkGreen);
}

.contenido>form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: var(--fontColorForm);
  font-weight: 700;
}
